#activeCrop
	.row
		.col-xs-9
			h2#activeCropTitle
		.col-xs-3.text-right
			.btn-group(role="group")
				a.btn.btn-danger(onclick="activeCropViewEvents.trigger('actualizeSubmit')")
					span.glyphicon.glyphicon-trash(aria-hidden="true") 
					| &nbsp; Eliminar
	.row
		.col-xs-12