//New grow
.modal.fade#newGrowModal(tabindex="-1", role="dialog",aria-labelledby="newGrowModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h3 New grow
			.modal-body
				form
					.form-group
						input.form-control#newGrowName(type="text", placeholder="Name", required)
					.form-group
						select.form-control(onchange="cultivoEvents.trigger('growTypeChanges', $(this).val())")
							option(value="1") Choose a type
							option(value="indoor") Indoor	
							option(value="homeOutdoor") Home outdoor
							option(value="outdoor") Outdoor 
					.form-group#indoorZone.hide
						p.text-info Manage your growings with species groups
					.form-group#homeOutdoorZone.hide
						p.text-info Manage your familiar outdoor growing
					.form-group#outdoorZone.hide
						p.text-info You'll see that we can make for you


			.modal-fotter
				| prueba de texto
