//New grow
.modal.fade#Modalxxxxx(tabindex="-1", role="dialog",aria-labelledby="newGrowModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h3 Modal title
			.modal-body

			.modal-fotter