<<<<<<< HEAD
//New Grow Modal
//.modal.fade#newGrowModal(tabindex="-1", role="dialog", aria-labelledhby="newGrowModalLabel")
	//.modal-dialog(role="document")
		//.modal-content
			//.modal-header
			//.modal-body
			//.modal-footer

//New Grow Modal
.row
	.modal.fade#newGrowModal(tabindex="-1", role="dialog", aria-labelledhby="newGrowModalLabel")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					|titulo
				.modal-body
					|titulo
				.modal-footer
					|footer
=======
//New grow
.modal.fade#newGrowModal(tabindex="-1", role="dialog",aria-labelledby="newGrowModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h3 New grow
			.modal-body
				form
					.form-group
						button
							
							
			.modal-fotter
				| prueba de texto
>>>>>>> fd8e2876ab2b7161bf0141017371ee28f6ce7d3b
