//New Grow Modal
//.modal.fade#newGrowModal(tabindex="-1", role="dialog", aria-labelledhby="newGrowModalLabel")
	//.modal-dialog(role="document")
		//.modal-content
			//.modal-header
			//.modal-body
			//.modal-footer

//New Grow Modal
.row
	.modal.fade#newGrowModal(tabindex="-1", role="dialog", aria-labelledhby="newGrowModalLabel")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					|titulo
				.modal-body
					|titulo
				.modal-footer
					|footer