//New grow
.modal.fade#newGrowModal(tabindex="-1", role="dialog",aria-labelledby="newGrowModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h3 New grow
			.modal-body
				form
					.form-group
						input.form-control#newGrowName(type="text", placeholder="Name", required)
					.form-group
						select.form-control(onchange="homeEvents.trigger('growTypeChanges', $(this).val())")
							option(value="na",autofocus) Choose a type
							option(value="indoor") Indoor	
							option(value="homeOutdoor") Home outdoor
							option(value="outdoor") Outdoor 
					.form-group.hide#indoorZone
						p.text-info 
							|Manage your growings with species groups
						.form-group
							.btn-group-justified(data-toggle="buttons")
								label.btn.btn-success(onclick="homeEvents.trigger('indoorSingleSpecies')")
									| Single species
									input(type="radio",autocomplete="off",name="indoorGroupType")

								label.btn.btn-success(onclick="homeEvents.trigger('outdoorSingleSpecies')")
									| Many species
									input(type="radio",autocomplete="off",name="outdoorGroupType")
									
						#indoorSingleSpecies.hide
							.row
								.col-xs-8
									.form-group
										input.form-control#indoorSingleSpeciesName(placeholder="Genetic name")
								.col-xs-4
									.form-group
											input.form-control#indoorSingleSpeciesQuantity(placeholder="# Quantity")
						
						#indoorManySpecies.hide
							.row
								.col-xs-12
									.form-group.text-right
										p
											input.btn.btn-info(type="button",onclick="homeEvents.trigger('indoorHowManySpecies')", value="+ Add")

								.col-xs-12
									#indoorManySpeciesGeneticList
										.form-group
											input.form-control(type="text", placeholder="Genetic name")
									.hide#indoorManySpeciesGeneticListTemplate
										.form-group
											input.form-control(type="text", placeholder="Genetic name")


					.form-group.hide#homeOutdoorZone
						p.text-info Manage your familiar outdoor growing
					.form-group.hide#outdoorZone
						p.text-info You'll see that we can make for you

			.modal-fotter
				| prueba de texto
