extends layout

block content

	include ./modules/modals.jade

	//Nav
	include ./modules/nav.jade
	
	//Alerts
	//include ./modules/alerts.jade
		
	//Content
	#content
	
	.hide
		#home
			//Resumen de usuario
			include ./modules/home/summary.jade

		#registro
			h1 Registro