extends layout

block content

	include ./modules/modals.jade

	//Nav
	include ./modules/nav.jade
	
	
		
	//Content
	#content
	
	.hide
		//Alerts
		include ./modules/alerts.jade

		//Resumen de usuario
		include ./modules/home/summary.jade

		//New grow
		include ./modules/newGrow/newGrow.jade

		//Cultivo activo
		include ./modules/activeCrop/activeCropView.jade

		#registro
			h1 Registro