extends layout

block content
<<<<<<< HEAD
	//Modals
=======
	//Modals (Bootstrap recomend to place modal code in a top-level in the document)
>>>>>>> fd8e2876ab2b7161bf0141017371ee28f6ce7d3b
	include ./modules/modals.jade

	//Nav
	include ./modules/nav.jade
	
	//Alerts
	//include ./modules/alerts.jade
		
	//Content
	#content
	
	.hide
		#home
			//Resumen de usuario
			include ./modules/home/summary.jade

		#registro
			h1 Registro