doctype html
html
	head
		title Professional grow app for cannabis
		//link(rel="stylesheet", href="/stylesheets/styles.css")
		//link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		//link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css")
		
		meta(name="viewport" content="width=device-width, initial-scale=1")

		script(src="http://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://cdn.auth0.com/js/lock-7.12.min.js")
		script(src="//use.typekit.net/iws6ohy.js")
		script(src="/javascripts/typekitLoad.js")		  

	body
		.container-fluid
			block content

		script(src='/javascripts/vendor/auth0-variables.js')
		script(src='/javascripts/vendor/auth0.js')
		script(src='/javascripts/vendor/underscore-1.8.3.js')
		script(src='/javascripts/vendor/backbone-1.2.3.js')
		script(src="/javascripts/vendor/owl.carousel.min.js")
		script(src="/javascripts/vendor/chart.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
		script(src="/javascripts/vendor/owlSlider.js")
		//script(src="/javascripts/vendor/graficos.js")

		//Models
		script(src="/javascripts/models/usuario.js")
		script(src="/javascripts/models/cultivo.js")
		script(src="/javascripts/models/planCultivo.js")
		script(src="/javascripts/models/producto.js")

		//Collections
		script(src="/javascripts/collections/cultivos.js")

		//Views
		script(src="/javascripts/views/registro.js")
		script(src="/javascripts/views/home.js")

		//Init App
		script(src='/javascripts/app.js')
		